{% extends "layouts/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load bootstrap4 %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<br>
<div class="container d-flex justify-content-center">
  <div class="card border-primary mb-3" style="max-width: 18rem;">
    <div class="card-header text-primary h2 d-flex justify-content-center">
      <h1>{% trans "Sign In" %}</h1>
    </div>
    <div class="card-body text-primary">

        {% get_providers as socialaccount_providers %}
        {% if socialaccount_providers %}  
        <div class="socialaccount_ballot">
          <ul class="socialaccount_providers">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
          </ul>

        </div>

        {% include "socialaccount/snippets/login_extra.html" %}

        {% else %}
        <p>{% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
        {% endif %}

        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {% bootstrap_form form %}

          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          
          {% buttons %}
            <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
          {% endbuttons %}
        </form>
        <div >
          <a  href="{{ signup_url }}">Cadastrar</a>
        </div>
    </div>
  </div>
</div>
{% endblock %}
