{% extends "layouts/base.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<br>
<div class="container d-flex justify-content-center">
  <div class="card border-primary mb-3" style="max-width: 18rem;">
    <div class="card-header text-primary h2 d-flex justify-content-center">
      <h1>{% trans "Sign Up" %}</h1>
    </div>
    <div class="card-body">

      <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        {% buttons %}
          <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
        {% endbuttons %}
      </form>
    </div>
  </div>
</div>
{% endblock %}
